* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
    background-color: whitesmoke;
}

.container {
   height: 100vh;
   display: flex;
   align-items: center; 
   justify-content: center;
   background-color:darkgray;
}

.calculatorMagic {
    box-shadow: 6px 6px 12px grey, 6px 6px 12px rgba(0,0,0,.16);
    border-radius: 28px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 65px);
    background-color: black;

}

input {
    grid-column: span 4;
    height: 65px;
    width: 258px;
    box-shadow: inset -6px 6px 12px #fff, inset 6px 6px 12px rgba(0,0,0,.16);
    background-color: #fff;
    border: none;
    border-radius: 32px;
    color:black;
    text-align:end;
    margin: 40px 0px 30px 0px;
    padding: 20px;
    font-size: 38px;
}

button {
    box-shadow: inset 6px 6px 12px #fff, 6px 6px 12px rgba(0,0,0,.16);
    background-color:lightgrey;
    border: none;
    border-radius: 50%;
    width:50px;
    height:50px;
    margin: 10px;
}

.zero {
    width: 120px;
    border-radius: 40px;
    box-shadow: inset 6px 6px 12px #fff, 6px 6px 12px rgba(0,0,0,.16);
    background-color: orange;
}

.funcz {
    box-shadow: inset 6px 6px 12px #fff, 6px 6px 12px rgba(0,0,0,.16);
    background-color: orange;
}



